/* --- Code blocks --- */

.chroma .ln {
  margin-right: 0.8em;
  padding: 0 0.4em 0 0.4em;
}
pre code.hljs {
  padding: 9.5px;
}

/* ayaco:#14(5):隣接間隔調整*/
.highlight + .highlight {
  margin-top: 0.5em;
}

.highlight tr, .highlight pre {
  border: none;
}

.highlight/* div:first-child ayaco:#14(3):R補正 */ {
  border-radius: 4px;
  background: #f8f8f8;/* ayaco:#14(2):背景色調整(=highlight.css) */
}

/* ayaco:#14(2):背景色調整 */
.highlight .chroma, .highlight tr {
  background: transparent;
}

/* ayaco:#14(4):hl_linesのハイライト色幅補正 */
.highlight .chroma .lntd:last-child {
  width: 100%;
}

.highlight td:first-child pre/*, .highlight pre {
  border-top-left-radius: 4px;
  border-top-right-radius: unset;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: unset; ayaco:#14(1):inline時のスクロール補正 */{
  overflow: hidden;
}

/* .highlight td:last-child pre, .highlight pre {
  border-radius: unset;
} ayaco:#14(3):R補正 */

.highlight td:last-child pre code, .highlight pre code {
  white-space: pre;
}