/* ayaco:#15:章マーク */
.container article.blog-post h3 {
  display: table;
}
.container article.blog-post h3::before {
  display: table-cell;
  width: 2em;
  margin: -0.2em 0em;
  padding: 0.2em;
  border-right: 0.3em solid white;
  text-align: center;
  background: #404040;
  color: white;
}
.container article.blog-post {
  counter-reset: h3;
}
.container article.blog-post h3::before {
  counter-increment: h3;
  content: counter(h3, decimal-leading-zero);
}
.container article.blog-post h4 {
  border-left: 7px solid;
  padding: 0.25em 0em 0.25em 0.25em;
}

/* ayaco:#7:箇条書き開始位置調整 */
.container article ol {
  padding-inline-start: 2em;/* 2桁olを許容。olの番号はiOS(firefox/chrome共)が最も左 */
}
.container article ul {
  padding-inline-start: 1.5em;/* 下のliと合わせolと揃える */
}
.container article ul > li {
  padding-left: 0.5em;
}
.container article p + ul.arrow,
.container article p + ul.suppl {
  margin-top: -6px;/* p{margin-bottom:6px}の打ち消し */
}

/* ayaco:#7:箇条書きマーク */
.container article ul.arrow > li:nth-child(1),
.container article ul.arrow2 > li:nth-child(2),
.container article ul.arrow3 > li:nth-child(3),
.container article ul.arrow4 > li:nth-child(4),
.container article ul.arrow5 > li:nth-child(5) {
  list-style-type: "\279C ";
}
.container article ul.suppl > li:nth-child(1),
.container article ul.suppl2 > li:nth-child(2),
.container article ul.suppl3 > li:nth-child(3),
.container article ul.suppl4 > li:nth-child(4),
.container article ul.suppl5 > li:nth-child(5) {
  list-style-type: "\2731 ";
}

/* ayaco:#8:定義リストマーク */
.container article dl.note {/* like .well */
  border-radius: 4px;
  border: 1px solid rgba(189,183,107,0.2);
  padding: 0.7em;
  background: #FFFCCC;
  box-shadow: inset 0 1px 1px rgba(189,183,107,0.5);
}
.container article dl.note::before {
  content: "";
  position: absolute;
  background: rgba(224,216,101,0.8);/* noteのshadowを透かす */
  margin-top: -0.7em;/* noteのpaddingを打ち消す */
  border-top: 2.2em solid transparent;
  border-bottom: 0.7em solid #FFFCCC;
  border-left: 1.2em solid transparent;
  border-right: 1.2em solid transparent;
}
.container article dl.note * {
  position: relative;
  z-index: 10;
}
.container article dl.note > dt {
  margin-bottom: 0.2em;
  font-size: 20px;/* =h3 */
  font-weight: 800;/* =h3, for Android */
}

/* ayaco:#3(2):日本語対応(code.lessへの修正) */
.container article code {
  font-family: Menlo,Monaco,Consolas,"Courier New","Meiryo UI",monospace;/* Meiryoを追加 */
}

/* ayaco:#11:色調整(code.lessへの修正) */
.container article :not(.chroma) > code {/* inline/table共にpre.chroma>code */
  color: inherit;
  background: #EEEEEE;
}

/* ayaco:#19:テーブル横スクロール */
.container article table.grid {
  display: block;
  overflow-x: auto;
  width: 100%;
}
.container article table.grid thead,
.container article table.grid tbody {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.container article table.grid tr {
  background: unset !important;
}
.container article table.grid th,
.container article table.grid td {
  border-left: 0px;
  border-right: 0px;
  padding: 0.3em 0.5em;
}
.container article table.grid th {
  border-bottom: 0px;
}
.container article table.grid thead {
  background: #F5F5F5;/* navbarと揃える */
}
.container article table.grid40 thead,
.container article table.grid40 tbody {
  min-width: 40em;
}
