<article class="post-preview">
    <a href="{{ .Permalink }}">
        {{ if .Params.image }}
        <img src="{{ .Params.image | absURL }}" alt="{{ .Title }}" class="img-title" />{{/* ayaco:#6:absURL化 */}}
        {{ end }}
        {{ if .Params.video }}
        <video loop autoplay muted playsinline class="img-title">
            <source src="{{ .Params.video | absURL }}">{{/* ayaco:#6:absURL化 */}}
        </video>
        {{ end }}
        <h2 class="post-title">{{ .Scratch.Get "Title2" }}</h2>{{/* ayaco:#3(4):タイトル類をimage下へ移動 */}}{{/* ayaco:#21:表示用タイトル */}}
        {{ if .Scratch.Get "SubTitle2" }}{{/* ayaco:#21:表示用タイトル */}}
        <h3 class="post-subtitle">
            {{ .Scratch.Get "SubTitle2" }}{{/* ayaco:#21:表示用タイトル */}}
        </h3>
        {{ end }}
    </a>

    <p class="post-meta">
        {{ partial "post_meta.html" . }}
    </p>
    <div class="post-entry">
        {{ if .Truncated }}
        {{ .Summary }}
        <a href="{{ .Permalink }}" class="post-read-more">[{{ i18n "readMore" }}]</a>
        {{ else }}
        {{ .Content }}
        {{ end }}
    </div>

    {{ if .Params.tags }}
    <div class="blog-tags">
        {{ range .Params.tags }}
        <a href="{{ $.Site.LanguagePrefix | absURL }}/tags/{{ . | urlize }}/">{{ . }}</a>&nbsp;
        {{ end }}
    </div>
    {{ end }}

</article>